body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.hidden {
    display: none;
}

ul {
    list-style: none;
}

img,
.img-placeholder {
    width: 210px;
    height: 295px;
}

.img-placeholder {
    background-color: rebeccapurple;
}
